*{
	box-sizing:border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1{
    font-size:45px;
    color:#2980b9;
    margin-top: 50px;
    text-align:center;
    font-family: 'Lemonada', cursive
}
h2{
font-size:35px;
color: #2c3e50;
padding:20px;
font-weight:bold;
}
h3{
    font-size: 22px;
    color:#2c3e50;
    padding:15px;
}
blockquote{
    font-style: italic;
    font-size: 120%;
}
strong{
    font-weight:bold;
}

header {
    background : #2c3e50;
    height:175px;
}
nav {
    background : #2980b9;
    height:50px;
	border-bottom: 8px solid #33cccc;
}
main{
	margin:0 auto;
	width:1000px;
	background:#cecece;
}
aside {
    height :257px;
    background: paleturquoise;
}
section {
    margin-top: 50px;
    padding:20px;
}
footer{
    background : #2980b9;
    height:30px;
}
/************************************************************************* DEBUT PAGE TEXTE******************************************************/
.Oswald p {
    font-family: 'Oswald', sans-serif;
}









/********************************************************************FIN PAGE TEXTE***************************************************************/

/********************************************************************DEBUT PAGE SELECTEURS***************************************************************/

.select p{
	color:red;

}
  .select p:first-of-type{
	color:pink;
}
  .select p:last-of-type{
	  color:pink;
  }
 .select p:nth-of-type(5), .select p:nth-of-type(6){
	 color:black;
}
.select div:not(.zoneB){
	font-weight:bold;
}
.select .zoneA {
	color: #f56f56;
}
.select .zoneB {
	color:#996633;
}
.select .zoneB .couleurBleu{
	color: blue;
}
.select #ZoneC {
	color: #98f32f;
}
.select #zoneD span{
		color:#32ff32
}




/********************************************************************FIN PAGE SELECTEURS***************************************************************/
/*******************************************************************DEBUT PAGE IMAGE******************************************************************/

.imageFond{
	background: #000 url(../img/fond.jpg) no-repeat;
	background-size: cover; /*image qui s'étend*/
}
.imageFond p{
	width: 75%;
	margin: 100px auto 200px auto; /* auto permet de centrer les éléments*/
	background:rgba(255,255,255,0.60);/*rgba : red grey blue : pour la transparence et l'opacité : de 0 à 1. Autre attribut opacity : mais il diminue l'opacité de tout le bloc.*/
	padding:20px;
	font-size:120%;
	border-radius:10px;
}
img[src="img/toureiffel.jpg"]{
	margin: auto;
	width: 250px;
	display: block;
}
.rotationImg{
	text-align:center;
}
.image{
	margin:20px;
	border: 5px solid #eee;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	transition: 1s;
}
.image:hover {
	transform:rotate(-7deg);/*pour transformer l'image au survol de la souris*/
	border: 15px solid #eee;
}
.rotation360:hover{
	transform:rotate(-360deg);
}







/*****************************************************************FIN PAGE IMAGE***********************************************************************/

/*************************************************DEBUT PAGE POSITION******************************************/
.centre{
	margin: 0 auto;
	width:500px;
	height:200px;
	background:#33cccc;
}
.absolute{
	position:absolute;
	bottom:0;
	right:0;
	background:orange;
	width:100px;
	height:100px;
}
.relative{
	background:red;
	width:500px;
	height:500px;
	position:relative;
	bottom:50px;
	left:100px;
}
.relative div{
	position:absolute;
	bottom:10px;
	width:100%;
	height:10px;
	background:blue;
}
button{
	position:fixed;
	bottom:40px;
	right:20px;
	cursor:pointer;
	border:none;
	background:transparent;
	font-size:350%;
	color:#2c3e50;
}
button:hover{
	color:#33cccc;
	transition:1s;
}
.trente{
	width:30%;
	padding:20px;
	font-size:22px;
	background:#f1684e;
	color:#efe94b;
	font-weight:bold;
}
.cinquante{
	width:50%;
	padding:20px;
	font-size:22px;
	background:#383746;
	color:#f1684e;
	font-weight:bold;
	margin-top:10px;
}
.cent{
	width:100%;
	padding:20px;
	font-size:22px;
	background:#efe94b;
	color:#383746;
	font-weight:bold;
	margin-top:10px;
}

.carre{
	background:yellow;
	width:170px;
    height:170px;
	border:2px solid red;
	margin: 6px;
	float:left;
    text-align: center;
}
.clear{
	clear:both;
}
.carrey {
	float:left;
	width:25%;
	height:150px;
}
.bleu{
	background: blue;
}
.rouge{
	background: red;
}
.jaune{
	background:yellow;
}
.marron{
	background:brown;
}

.head{
	height:45px;
	width:100%;
	background:darkslategray;
}
.flex{
	display:flex;
	/*justify-content: space-between;*/
    /*justify-content:space-between;
	flex-direction: row-reverse;*/
	flex-direction:column-reverse;
}
.flex div{
     width:150px;
	 height:150px;
	 background:darkblue;
	 text-align:center;
	 font-size:50px;
	 color:white;
}
/*


/*****************************************************FIN PAGE POSITION*********************************************/
/*****************************************************DEBUT PAGE ZONING*********************************************/
#zoning1{
	background: #ffd6d6;
	width: 800px;
}

#zoning1 header{
	background:#fca7a7;
	height:70px;
}
#zoning1 aside{
	background:#18587a;
	width:20%;
	height:500px;
	float:left;

}

#zoning1 section{
	background:#fc624d;
	width:80%;
	height:500px;
	float:left;
	margin:0;
	padding:0;

}
#zoning2{
	width: 800px;
	margin:0 auto;
	}
#zoning2 header{
	background:purple;
	height:70px;
}
#zoning2 aside{
	background: #fc624d;
	width:15%;
	height:500px;
	float:left;
}
#zoning2 section{
	margin: 0;
	padding: 0;
	float:left;
    background:#18587a;
	width:70%;
	height:500px;
}
#Zoning3{
	width: 800px;
	height: 500px;
	margin:0 auto;
}
#Zoning3 section{
	float:left;
	width:50%;
	height:420px;
	padding:0;
	margin:0;

}
#Zoning3 footer{
	background: red;
	height: 80px;
}
.clear{
	clear:both;
}
#Zoning3 .gauche{
	background: orange;
}
 #Zoning3 .droite{
	background: blue;
}
/***********************************Zoning 4*****************************/
#Zoning4{
	width: 900px;
	margin:0 auto;
	border: 2px solid;
}
#Zoning4 header {
	background:#2c3e50;
	height:80px;
}
#Zoning4 nav{
	background: #2980b9;
	height:30px;
}
#Zoning4 section{
	background: #33cccc;
	height:500px;
	margin:20px;
}
#Zoning4 footer{
	background:#2980b9;
}
/*************************Zoning5************************************/
#Zoning5{
	width: 900px;
	margin:0 auto;
	border:2px solid;
}
#Zoning5 header{
	background:#2c3e50;
	height:80px;
}
#Zoning5 nav{
   background: #2980b9;
   height:30px;
}
#Zoning5 section{
    margin:0 auto;
	height:600px;
}
#Zoning5 .A{
	background:yellow;
	float:left;
	width:50%;
	height:50%;

}
#Zoning5 .B{
	background:blue;
	float:left;
	width:50%;
	height:50%;
}
#Zoning5 .C{
	background:purple;
	float:left;
	width:50%;
	height:50%;
}
#Zoning5 .D{
	background:cyan;
	float:left;
	width:50%;
	height:50%;
}
#Zoning5 footer {
	height:70px;
	background:#2980b9;
}
/*********************Zoning6************************************************/
#Zoning6{
	width:800px;
	margin:0 auto;
	color:white;
}
#Zoning6 header{
	background:#40a497;
	height:180px;
}
.haut1{
	float:left;
	width:25%;
	height:100%;
	background:darkblue;
}
.haut2{
	float:left;
	width:50%;
	height:100%;
	background:pink;
}
.haut3{
	float:left;
	width:25%;
	height:100%;
	background:blue;
}
#Zoning6 nav{
	background:#9a40a4;
	height:30px;
	border:none;
}
#Zoning6 aside{
	background:blue;
	width:20%;
	height:650px;
	float:left;
}
#Zoning6 section{
	width:80%;
	float:left;
	margin:0;
	padding:0;
}
.slideshow{
	background:pink;
	height:250px;
}
#Zoning6 .a{
	background:red;
	width:50%;
	height:250px;
	float:left;
}
#Zoning6 .b{
	background:yellow;
	width:50%;
	height:250px;
	float:left;
}
#Zoning6 .c{
	background:green;
	width:25%;
	height:150px;
	float:left;
}
#Zoning6 .d{
	background:brown;
	width:25%;
	height:150px;
	float:left;
}
#Zoning6 footer{
	background:purple;
	height:50px;
}
/***
************************************************FIN PAGE ZONING****************************************************/
header{
	background:#2c3e50;
}
#logo{
	width:25%;
	float:left;
	text-align:center;
	padding:15px;
}
#slogan{
	width:50%;
	float:left;
}
#reseauSociaux{
	width:25%;
	float:left;
}
#reseauSociaux i{
	font-size:30px;
	color:#2980b9;
	display:block;
	text-align:right;
	margin:15px 30px 0 0;
}
/***********************************************************DEBUT TABLEAU**************************************************/
table{
	width: 75%;
	margin:0 auto;
	border:2px solid midnightblue;
	border-collapse:collapse;

}
td{
	padding: 2px;
	text-align: center;
    width:150px;
    border:1px solid midnightblue;
}
/*************************************************FIN TABLEAU***************************************************************/
/**********************************************DEBUT PAGE LISTE**********************************************************/
ul.fruit{
	list-style:none;
}
ul.fruit:hover li{
	display:inline;
	margin:15px;
	color:chocolate;

}
li:hover:not(.fa){
	color:midnightblue;
	transition:2s;
	list-style: none;
	text-transform:uppercase;
	font-size: 150%;


}
.imbriquee :hover, .imbriquee ul{
	padding-left:15px;
}

/*******************************************DEBUT PAGE LIENS ET MENUS**********************/

.ancre{
	text-align: center;
}
.ancre a{
	border-radius:14px;
	box-shadow: 3px 3px 0  brown;
	text-decoration:none;
	color:white;
	font-size:120%;
	background:maroon;
	padding:4px;
	margin:4px;
	transition:0.5s;
}
.ancre a:hover{
	font-size:130%;
	color:darksalmon;
	box-shadow:none;
}
button:hover{
	color:#33cccc;
	transition:1s;
	text-decoration:none;
}












/*********************************************FIN PAGE LIENS********************************/
