*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
 h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-image:url(../img/wild_oliva.png);
    height:500px;
    margin:0 auto;
}
header{
    border:2px solid white;
    margin:0 auto;
    color:dodgerblue;
    padding:0;
    background:aliceblue;
    text-align:center;
    width:80%;

}
nav{
    background:aliceblue;
    padding:20px;
    text-align:center;
    width:80%;
    margin:0 auto;
}
main{
    border:2px solid lightsteelblue;
    background-image:url(../img/ordinateur.jpg);
    background-size:cover;
    height:600px;
    margin:0 auto;
    width:80%;
}
article{
    background:transparent;
    border:2px solid white;
    font-family: 'Open Sans', serif;
    text-align:center;
    float:left;
    width:80%;
    margin:0 auto;
}
footer{

    background:aliceblue;
    height:20%;
    width:80%;
    margin:0 auto;
}
h3{
   font-family: 'Open Sans', serif;
   text-align:center;

}
/***************************************************MenuCV***********/
header{
    text-align:center;
    font-family: 'Open Sans', serif;
}
header .haut p {
    border-radius:8px;
    border:2px;
    background:transparent;
}
header .haut:hover{
    background:CadetBlue;
    border-radius:8px;
    transition:2s;
    transform:scale(1.1);
}
.logo .reseaux{
    text-align:center;
}
nav a{
    text-decoration:none;
    border:2px;
    background:aliceblue;
    border-radius:8px;
    font-family: 'Open Sans', sans-serif;
    color:dodgerblue;
    padding:4px;
    margin:4px;
}
nav a:hover{
    background:CadetBlue;
    transition:2s;
    transform:scale(1);
    }
aside{
    background-image:url(../img/maphoto.jpg);
    background-size:cover;
    height:50%;
    width:50%;
}
.premier .perso{
    font-family: 'Open Sans', serif;
}
/*******************************************listes************************/
.presentation1,.presentation3{
    background:#ACBDC5;
    font-family: 'Open Sans', sans-serif;
    border:3px solid #314A52;
    padding:10px;
    box-sizing:border-box;
    border-radius:12px;
    text-align:center;
    float:left;
    margin:10px;
    width:50%;
}
.presentation2{
    background:#ACBDC5;
    font-family: 'Open Sans', sans-serif;
    border:3px solid #314A52;
    padding:10px;
    box-sizing:border-box;
    border-radius:12px;
    text-align:center;
    margin:10px;
    float:right;
    width:50%;
}
.presentation1:hover,.presentation2:hover,.presentation3:hover{
    transform:scale(1.3);
    transition:3s;
    overflow:hidden;
    color:white;
    background:#626F92;
}
